In [20]:
# Alexia Belen Gonzalez Galarza
# 20220377
# Curso: ICDE

In [21]:
# 1. Integrar archivos 
#instalar bibliotecas para manipular el documento  en excel y tablas de datos
!pip install pandas openpyxl
import pandas as pd
level1 = pd.read_excel('level1.xlsx', header = [4]) # very high human development
level2 = pd.read_excel('level2.xlsx', ) # high human development
level3 = pd.read_excel('level3.xlsx') # medium human development
level4 = pd.read_excel('level4.xlsx') # low human development

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\envs\icde\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\alexi\appdata\roaming\python\python311\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in c:\programdata\anaconda3\envs\icde\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\envs\icde\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\envs\icde\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\envs\icde\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\alexi\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\icde\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [22]:
# Para level1 quitar esas filas que eran del encabezado pero ahora estan como datos de la tabla
level1 = level1.drop(level1.index[[0, 1]])
level1.reset_index(drop=True, inplace=True)
level1

,HDI rank,Country,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank.1,Unnamed: 15
0,1.0,Switzerland,0.962,NaN,83.9872,NaN,16.500299,NaN,13.85966,NaN,66933.00454,NaN,5.0,NaN,3.0,VERY HIGH HUMAN DEVELOPMENT
1,2.0,Norway,0.961,NaN,83.2339,NaN,18.1852,c,13.00363,NaN,64660.10622,NaN,6.0,NaN,1.0,VERY HIGH HUMAN DEVELOPMENT
2,3.0,Iceland,0.959,NaN,82.6782,NaN,19.163059,c,13.76717,NaN,55782.04981,NaN,11.0,NaN,2.0,VERY HIGH HUMAN DEVELOPMENT
3,4.0,"Hong Kong, China (SAR)",0.952,NaN,85.4734,d,17.27817,NaN,12.22621,NaN,62606.8454,NaN,6.0,NaN,4.0,VERY HIGH HUMAN DEVELOPMENT
4,5.0,Australia,0.951,NaN,84.5265,NaN,21.05459,c,12.72682,NaN,49238.43335,NaN,18.0,NaN,5.0,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,62.0,Malaysia,0.803,NaN,74.8839,NaN,13.34304,NaN,10.64506,NaN,26657.94355,NaN,-8.0,NaN,61.0,VERY HIGH HUMAN DEVELOPMENT
62,63.0,Georgia,0.802,NaN,71.694,NaN,15.56852,NaN,12.82222,NaN,14664.16825,NaN,17.0,NaN,64.0,VERY HIGH HUMAN DEVELOPMENT
63,63.0,Mauritius,0.802,NaN,73.5552,NaN,15.17353,e,10.42791,e,22025.34631,NaN,-1.0,NaN,62.0,VERY HIGH HUMAN DEVELOPMENT
64,63.0,Serbia,0.802,NaN,74.1923,NaN,14.40009,NaN,11.36987,NaN,19123.02747,NaN,4.0,NaN,62.0,VERY HIGH HUMAN DEVELOPMENT
65,66.0,Thailand,0.8,NaN,78.7154,NaN,15.882219,m,8.69712,NaN,17030.15352,NaN,6.0,NaN,64.0,VERY HIGH HUMAN DEVELOPMENT

In [23]:
# Para level2: quitar dos primeras filas tambien, no hay cambios por hacer en el encabezado
level2 = level2.drop(level2.index[[0, 1]])
level2.reset_index(drop=True, inplace=True)
level2

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Unnamed: 6,Gross national income (GNI) per capita,Unnamed: 8,GNI per capita rank minus HDI rank,Unnamed: 10,HDI rank.1
0,67.0,Albania,0.796,76.4626,14.448000,11.286455,e,14131.110390,NaN,17.0,NaN,68.0
1,68.0,Bulgaria,0.795,71.7980,13.897290,11.413180,NaN,23078.955950,NaN,-8.0,NaN,64.0
2,68.0,Grenada,0.795,74.9362,18.662020,9.032104,l,13483.577400,NaN,18.0,NaN,70.0
3,70.0,Barbados,0.790,77.5714,15.713385,9.852701,n,12306.341000,NaN,26.0,NaN,71.0
4,71.0,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,j,16792.365950,NaN,2.0,NaN,71.0
5,72.0,Seychelles,0.785,71.2945,13.941610,10.283120,NaN,25830.617750,NaN,-17.0,NaN,69.0
6,73.0,Sri Lanka,0.782,76.3991,14.139905,10.827300,NaN,12578.220550,NaN,21.0,NaN,75.0
7,74.0,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,NaN,15241.914650,NaN,4.0,NaN,73.0
8,75.0,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,l,23358.332120,NaN,-16.0,NaN,76.0
9,76.0,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,e,13000.711700,NaN,15.0,NaN,77.0
10,77.0,Ukraine,0.773,71.6240,14.956569,11.131420,n,13255.509770,NaN,11.0,NaN,78.0
11,78.0,North Macedonia,0.770,73.8415,13.624432,10.228150,NaN,15917.752830,NaN,-3.0,NaN,79.0
12,79.0,China,0.768,78.2107,14.236115,7.600118,n,17504.399690,NaN,-8.0,NaN,82.0
13,80.0,Dominican Republic,0.767,72.6146,14.466558,9.306864,o,17989.600370,NaN,-11.0,NaN,82.0
14,80.0,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,NaN,14875.331890,NaN,-1.0,NaN,81.0
15,80.0,Palau,0.767,66.0204,15.784320,12.491430,p,13818.678690,NaN,5.0,NaN,80.0
16,83.0,Cuba,0.764,73.6829,14.443060,12.497734,e,7878.847482,q,37.0,NaN,73.0
17,84.0,Peru,0.762,72.3769,15.387734,9.885519,e,12245.893660,NaN,13.0,NaN,85.0
18,85.0,Armenia,0.759,72.0431,13.116760,11.330300,NaN,13157.993900,NaN,4.0,NaN,87.0
19,86.0,Mexico,0.758,70.2127,14.864440,9.221050,NaN,17896.294980,NaN,-16.0,NaN,88.0
20,87.0,Brazil,0.754,72.7504,15.599060,8.128814,e,14369.888480,NaN,-5.0,NaN,86.0
21,88.0,Colombia,0.752,72.8296,14.442750,8.862860,NaN,14384.356660,NaN,-7.0,NaN,88.0
22,89.0,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,NaN,11961.087920,NaN,11.0,NaN,82.0
23,90.0,Maldives,0.747,79.9182,12.635610,7.322000,NaN,15448.127880,NaN,-14.0,NaN,97.0
24,91.0,Algeria,0.745,76.3767,14.626896,8.069284,e,10800.225460,NaN,13.0,NaN,96.0
25,91.0,Azerbaijan,0.745,69.3658,13.496890,10.542970,NaN,14256.744560,NaN,-8.0,NaN,100.0
26,91.0,Tonga,0.745,70.9857,16.048571,11.392594,n,6822.031250,NaN,34.0,NaN,90.0
27,91.0,Turkmenistan,0.745,69.2644,13.210400,11.261390,NaN,13020.715500,NaN,-1.0,NaN,93.0
28,95.0,Ecuador,0.740,73.6700,14.624230,8.817120,NaN,10311.632730,NaN,11.0,NaN,99.0
29,96.0,Mongolia,0.739,70.9754,14.980350,9.423700,NaN,10588.225320,NaN,9.0,NaN,90.0
30,97.0,Egypt,0.731,70.2207,13.786500,9.573026,e,11731.690560,NaN,4.0,NaN,97.0
31,97.0,Tunisia,0.731,73.7719,15.425382,7.431599,e,10257.544770,NaN,10.0,NaN,94.0
32,99.0,Fiji,0.730,67.1140,14.736790,10.921548,e,9980.110866,NaN,9.0,NaN,94.0
33,99.0,Suriname,0.730,70.2743,13.035644,9.776801,m,12672.200330,NaN,-6.0,NaN,92.0
34,101.0,Uzbekistan,0.727,70.8616,12.477140,11.895590,NaN,7916.785725,NaN,18.0,NaN,107.0
35,102.0,Dominica,0.720,72.8140,13.319186,8.142186,j,11487.624220,NaN,0.0,NaN,106.0
36,102.0,Jordan,0.720,74.2563,10.646560,10.446680,NaN,9923.714974,NaN,8.0,NaN,104.0
37,104.0,Libya,0.718,71.9112,12.854280,7.599985,r,15335.712000,NaN,-27.0,NaN,117.0
38,105.0,Paraguay,0.717,70.2617,12.987991,8.861840,NaN,12349.286000,NaN,-10.0,NaN,100.0
39,106.0,"Palestine, State of",0.715,73.4727,13.358010,9.938480,NaN,6582.899416,NaN,21.0,NaN,109.0
40,106.0,Saint Lucia,0.715,71.1114,12.866110,8.545040,NaN,12048.303810,NaN,-7.0,NaN,104.0
41,108.0,Guyana,0.714,65.6734,12.502722,8.617477,NaN,22464.657340,NaN,-47.0,NaN,107.0
42,109.0,South Africa,0.713,62.3410,13.643710,11.373160,NaN,12948.373250,NaN,-17.0,NaN,102.0
43,110.0,Jamaica,0.709,70.5003,13.404920,9.154629,e,8834.475670,NaN,4.0,NaN,110.0
44,111.0,Samoa,0.707,72.7675,12.418859,11.403800,NaN,5307.953374,NaN,24.0,NaN,112.0
45,112.0,Gabon,0.706,65.8210,12.977310,9.436000,NaN,13366.934550,NaN,-25.0,NaN,113.0
46,112.0,Lebanon,0.706,75.0472,11.285870,8.718636,l,9525.831467,NaN,-1.0,NaN,103.0
47,114.0,Indonesia,0.705,67.5703,13.748894,8.556510,NaN,11466.068360,NaN,-11.0,NaN,116.0
48,115.0,Viet Nam,0.703,73.6181,12.951932,8.370280,NaN,7867.371345,NaN,6.0,NaN,113.0

In [24]:
# Para level3: igualmente, solo quitar las dos primeras filas
level3 = level3.drop(level3.index[[0, 1]])
level3.reset_index(drop=True, inplace=True)
level3

,HDI rank,Country,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank.1
0,116.0,Philippines,0.699,NaN,69.2664,NaN,13.126570,NaN,8.969100,NaN,8920.428468,NaN,-3.0,NaN,113.0
1,117.0,Botswana,0.693,NaN,61.1409,NaN,12.265138,e,10.340000,NaN,16198.318410,NaN,-43.0,NaN,110.0
2,118.0,Bolivia (Plurinational State of),0.692,NaN,63.6304,NaN,14.946971,NaN,9.827750,NaN,8111.190194,NaN,0.0,NaN,119.0
3,118.0,Kyrgyzstan,0.692,NaN,69.9774,NaN,13.195300,NaN,11.374106,n,4566.303831,NaN,26.0,NaN,121.0
4,120.0,Venezuela (Bolivarian Republic of),0.691,NaN,70.5536,NaN,12.816080,p,11.107277,e,4810.882621,t,20.0,NaN,118.0
5,121.0,Iraq,0.686,NaN,70.3779,NaN,12.087473,s,7.905593,m,9977.249073,NaN,-12.0,NaN,122.0
6,122.0,Tajikistan,0.685,NaN,71.5942,NaN,11.653036,e,11.333394,n,4547.742427,NaN,23.0,NaN,126.0
7,123.0,Belize,0.683,NaN,70.4697,NaN,12.991690,NaN,8.847600,NaN,6309.099778,NaN,6.0,NaN,120.0
8,123.0,Morocco,0.683,NaN,74.0419,NaN,14.151910,NaN,5.916000,NaN,7302.819170,NaN,1.0,NaN,122.0
9,125.0,El Salvador,0.675,NaN,70.7479,NaN,12.671348,o,7.150930,NaN,8295.665889,NaN,-8.0,NaN,124.0
10,126.0,Nicaragua,0.667,NaN,73.8368,NaN,12.641358,o,7.144000,NaN,5624.793595,NaN,6.0,NaN,129.0
11,127.0,Bhutan,0.666,NaN,71.8150,NaN,13.225005,e,5.170262,e,9437.541512,NaN,-15.0,NaN,125.0
12,128.0,Cabo Verde,0.662,NaN,74.0518,NaN,12.554614,e,6.287719,p,6230.200199,NaN,2.0,NaN,127.0
13,129.0,Bangladesh,0.661,NaN,72.3811,NaN,12.441980,NaN,7.379060,NaN,5472.104781,NaN,4.0,NaN,128.0
14,130.0,Tuvalu,0.641,NaN,64.5466,NaN,9.404430,e,10.573108,NaN,6351.435899,NaN,-2.0,NaN,131.0
15,131.0,Marshall Islands,0.639,NaN,65.2688,NaN,10.239320,NaN,10.883140,NaN,4619.535393,NaN,12.0,NaN,131.0
16,132.0,India,0.633,NaN,67.2398,NaN,11.874620,NaN,6.655109,n,6589.980037,NaN,-6.0,NaN,130.0
17,133.0,Ghana,0.632,NaN,63.7954,NaN,12.047780,NaN,8.329887,n,5744.504017,NaN,-2.0,NaN,135.0
18,134.0,Micronesia (Federated States of),0.628,NaN,70.7100,NaN,11.549480,j,7.804956,l,3696.173945,NaN,22.0,NaN,136.0
19,135.0,Guatemala,0.627,NaN,69.2368,NaN,10.562450,NaN,5.681300,NaN,8723.285317,NaN,-20.0,NaN,133.0
20,136.0,Kiribati,0.624,NaN,67.4172,NaN,11.801993,NaN,7.984462,s,4062.586034,NaN,14.0,NaN,137.0
21,137.0,Honduras,0.621,NaN,70.1229,NaN,10.132814,o,7.088480,NaN,5297.955301,NaN,-1.0,NaN,138.0
22,138.0,Sao Tome and Principe,0.618,NaN,67.5912,NaN,13.365385,NaN,6.215599,m,4021.350815,NaN,13.0,NaN,139.0
23,139.0,Namibia,0.615,NaN,59.2690,NaN,11.927207,u,7.192013,n,8633.504452,NaN,-23.0,NaN,134.0
24,140.0,Lao People's Democratic Republic,0.607,NaN,68.0608,NaN,10.136110,NaN,5.374000,NaN,7699.579617,NaN,-18.0,NaN,142.0
25,140.0,Timor-Leste,0.607,NaN,67.7369,NaN,12.616098,p,5.436790,NaN,4460.869435,NaN,7.0,NaN,140.0
26,140.0,Vanuatu,0.607,NaN,70.4490,NaN,11.535315,e,7.064846,v,3085.411633,NaN,23.0,NaN,142.0
27,143.0,Nepal,0.602,NaN,68.4495,NaN,12.886950,NaN,5.121793,n,3877.315444,NaN,10.0,NaN,144.0
28,144.0,Eswatini (Kingdom of),0.597,NaN,57.0657,NaN,13.744346,e,5.596000,NaN,7678.591873,NaN,-21.0,NaN,141.0
29,145.0,Equatorial Guinea,0.596,NaN,60.5943,NaN,9.734940,l,5.910863,j,12073.959930,NaN,-47.0,NaN,147.0
30,146.0,Cambodia,0.593,NaN,69.5835,NaN,11.467720,w,5.088000,NaN,4078.697154,NaN,3.0,NaN,148.0
31,146.0,Zimbabwe,0.593,NaN,59.2531,NaN,12.110969,e,8.710909,e,3809.887158,NaN,9.0,NaN,145.0
32,148.0,Angola,0.586,NaN,61.6434,NaN,12.172100,NaN,5.417391,NaN,5465.617791,NaN,-14.0,NaN,149.0
33,149.0,Myanmar,0.585,NaN,65.6716,NaN,10.909138,e,6.376800,NaN,3850.524234,NaN,5.0,NaN,145.0
34,150.0,Syrian Arab Republic,0.577,NaN,72.0627,NaN,9.164220,NaN,5.100000,l,4191.933893,x,-2.0,NaN,152.0
35,151.0,Cameroon,0.576,NaN,60.3334,NaN,13.108599,e,6.151310,n,3620.932408,NaN,6.0,NaN,150.0
36,152.0,Kenya,0.575,NaN,61.4270,NaN,10.698558,u,6.652000,NaN,4473.570344,NaN,-6.0,NaN,150.0
37,153.0,Congo,0.571,NaN,63.5187,NaN,12.330815,e,6.166000,NaN,2889.283521,NaN,11.0,NaN,153.0
38,154.0,Zambia,0.565,NaN,61.2234,NaN,10.928760,w,7.187091,n,3217.767739,NaN,7.0,NaN,154.0
39,155.0,Solomon Islands,0.564,NaN,70.3477,NaN,10.328690,e,5.711848,s,2481.511362,NaN,13.0,NaN,155.0
40,156.0,Comoros,0.558,NaN,63.4174,NaN,11.924324,e,5.078649,l,3142.064119,NaN,6.0,NaN,156.0
41,156.0,Papua New Guinea,0.558,NaN,65.3506,NaN,10.360771,u,4.740000,NaN,4008.623573,NaN,-4.0,NaN,157.0
42,158.0,Mauritania,0.556,NaN,64.3636,NaN,9.376160,NaN,4.918805,n,5075.305711,NaN,-20.0,NaN,158.0
43,159.0,Côte d'Ivoire,0.550,NaN,58.5983,NaN,10.675580,NaN,5.199139,n,5217.448516,NaN,-22.0,NaN,159.0

In [25]:
# Para level4: No hay filas por quitar
level4

,HDI rank,Country,Unnamed: 2,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,le
0,160,Tanzania (United Republic of),LOW HUMAN DEVELOPMENT,0.549,66.2007,9.221490,6.372899,2664.329096,7,NaN
1,161,Pakistan,LOW HUMAN DEVELOPMENT,0.544,66.0979,8.658350,4.536330,4623.705430,-19,NaN
2,162,Togo,LOW HUMAN DEVELOPMENT,0.539,61.6194,12.950494,5.016807,2166.619062,12,NaN
3,163,Haiti,LOW HUMAN DEVELOPMENT,0.535,63.1924,9.700000,5.554000,2847.500746,2,NaN
4,163,Nigeria,LOW HUMAN DEVELOPMENT,0.535,52.6760,10.127584,7.181074,4790.284425,-22,NaN
5,165,Rwanda,LOW HUMAN DEVELOPMENT,0.534,66.0722,11.230970,4.425292,2209.795202,6,NaN
6,166,Benin,LOW HUMAN DEVELOPMENT,0.525,59.8210,10.766680,4.304786,3408.965923,-7,NaN
7,166,Uganda,LOW HUMAN DEVELOPMENT,0.525,62.7048,10.149870,5.730942,2181.436510,6,NaN
8,168,Lesotho,LOW HUMAN DEVELOPMENT,0.514,53.0620,12.040878,6.010185,2700.435748,-2,NaN
9,169,Malawi,LOW HUMAN DEVELOPMENT,0.512,62.9044,12.678985,4.489695,1465.635064,13,NaN
10,170,Senegal,LOW HUMAN DEVELOPMENT,0.511,67.0926,8.963750,2.937938,3344.311825,-10,NaN
11,171,Djibouti,LOW HUMAN DEVELOPMENT,0.509,62.3049,7.432980,4.100000,5024.993944,-32,NaN
12,172,Sudan,LOW HUMAN DEVELOPMENT,0.508,65.2667,7.945188,3.820000,3575.190840,-14,NaN
13,173,Madagascar,LOW HUMAN DEVELOPMENT,0.501,64.4853,10.134991,5.120469,1483.520983,8,NaN
14,174,Gambia,LOW HUMAN DEVELOPMENT,0.500,62.0830,9.418626,4.637487,2172.207664,-1,NaN
15,175,Ethiopia,LOW HUMAN DEVELOPMENT,0.498,64.9748,9.651071,3.201521,2361.069604,-5,NaN
16,176,Eritrea,LOW HUMAN DEVELOPMENT,0.492,66.5358,8.064525,4.887235,1728.742667,3,NaN
17,177,Guinea-Bissau,LOW HUMAN DEVELOPMENT,0.483,59.6523,10.613063,3.583719,1908.241590,0,NaN
18,178,Liberia,LOW HUMAN DEVELOPMENT,0.481,60.7472,10.420790,5.082000,1288.742350,7,NaN
19,179,Congo (Democratic Republic of the),LOW HUMAN DEVELOPMENT,0.479,59.1930,9.817864,7.018697,1076.098781,9,NaN
20,180,Afghanistan,LOW HUMAN DEVELOPMENT,0.478,61.9824,10.263844,2.985070,1824.190915,-2,NaN
21,181,Sierra Leone,LOW HUMAN DEVELOPMENT,0.477,60.0624,9.573391,4.576081,1621.512579,-1,NaN
22,182,Guinea,LOW HUMAN DEVELOPMENT,0.465,58.8922,9.805297,2.202126,2480.887182,-13,NaN
23,183,Yemen,LOW HUMAN DEVELOPMENT,0.455,63.7534,9.098710,3.200000,1314.270189,1,NaN
24,184,Burkina Faso,LOW HUMAN DEVELOPMENT,0.449,59.2696,9.142100,2.114962,2117.915916,-8,NaN
25,185,Mozambique,LOW HUMAN DEVELOPMENT,0.446,59.3247,10.219152,3.197642,1198.073924,2,NaN
26,186,Mali,LOW HUMAN DEVELOPMENT,0.428,58.9414,7.423038,2.310000,2132.629443,-11,NaN
27,187,Burundi,LOW HUMAN DEVELOPMENT,0.426,61.6627,10.722722,3.129267,731.786709,4,NaN
28,188,Central African Republic,LOW HUMAN DEVELOPMENT,0.404,53.8947,8.040172,4.334000,966.058611,1,NaN
29,189,Niger,LOW HUMAN DEVELOPMENT,0.400,61.5763,6.957112,2.116717,1239.866936,-3,NaN
30,190,Chad,LOW HUMAN DEVELOPMENT,0.394,52.5254,8.035914,2.573774,1364.169417,-7,NaN
31,191,South Sudan,LOW HUMAN DEVELOPMENT,0.385,54.9752,5.542510,5.726140,767.787000,-1,NaN

In [34]:
# PARA INTEGRAR LOS DATA FRAME: solo con las columnas en comun
# interseccion de columnas con el mismo nombre
columnas_comun = list(set(level1.columns) & set(level2.columns) & set(level3.columns) & set(level4.columns))
columnas_comun
# cambio para solo quedarme con esas columnas
level1 = level1[columnas_comun]
level2 = level2[columnas_comun]
level3 = level3[columnas_comun]
level4 = level4[columnas_comun]

# integrar :)
integrar_levels = pd.concat([level1, level2, level3, level4], axis=0)
integrar_levels

#cambiar nombres para simplificar 
integrar_levels = integrar_levels.rename(columns={'HDI rank': 'HDI_Rank_2021',
                                                  'Gross national income (GNI) per capita': 'GNI_2021',
                                                  'Life expectancy at birth': 'LEB_2021',
                                                  'Mean years of schooling' : 'MYS_2021',
                                                  'Human Development Index (HDI) ': 'HDI_2021',
                                                  'Expected years of schooling': 'EYS_2021',
                                                  'GNI per capita rank minus HDI rank' : 'GNI-HDIRank'})
#cambiar el orden de las columnas
nuevo_orden = ['HDI_Rank_2021', 'Country', 'HDI_2021', 'LEB_2021', 'EYS_2021', 'MYS_2021', 'GNI_2021', 'GNI-HDIRank']

integrar_levels = integrar_levels[nuevo_orden]

# cambiar los nombres de los paises a mayusculas
integrar_levels['Country'] = integrar_levels['Country'].str.upper()

integrar_levels

,HDI_Rank_2021,Country,HDI_2021,LEB_2021,EYS_2021,MYS_2021,GNI_2021,GNI-HDIRank
0,1.0,SWITZERLAND,0.962,83.9872,16.500299,13.85966,66933.00454,5.0
1,2.0,NORWAY,0.961,83.2339,18.1852,13.00363,64660.10622,6.0
2,3.0,ICELAND,0.959,82.6782,19.163059,13.76717,55782.04981,11.0
3,4.0,"HONG KONG, CHINA (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6.0
4,5.0,AUSTRALIA,0.951,84.5265,21.05459,12.72682,49238.43335,18.0
...,...,...,...,...,...,...,...,...
27,187.0,BURUNDI,0.426,61.6627,10.722722,3.129267,731.786709,4.0
28,188.0,CENTRAL AFRICAN REPUBLIC,0.404,53.8947,8.040172,4.334,966.058611,1.0
29,189.0,NIGER,0.4,61.5763,6.957112,2.116717,1239.866936,-3.0
30,190.0,CHAD,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0
31,191.0,SOUTH SUDAN,0.385,54.9752,5.54251,5.72614,767.787,-1.0

In [27]:
# 2. Merge con countrycodes
countryCodes = pd.read_excel('countryCODES.xlsx')

countryCodes

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [41]:
# Cambio de nombre a paises en integrar_levels a paises que pueden causar problemas
troublesome={'HONG KONG, CHINA (SAR)':'CHINA','TÜRKIYE':'TURKEY', ' NAMIBIA ' : 'NAMIBIA'}

integrar_levels = integrar_levels.replace(to_replace={'Country':troublesome})

In [43]:
!pip install thefuzz
from thefuzz import process as fz
import pandas as pd

# Iteración para que el diccionario country_mapping se llene a partir de las similitudes entre las columnas country de integrar_levels y countryCodes
country_mapping = {}
for country in countryCodes['Country'].unique():
    match = fz.extractOne(country, integrar_levels['Country'].unique())
    if match[1] > 90:
        country_mapping[country] = match[0]

# Uniformizar nombres de paises para despues realizar merge
# cambia los nombres de paises de countrycodes a los que encontre con similitud>80 con integrar_levels
countryCodes['Country'] = countryCodes['Country'].map(country_mapping).fillna(countryCodes['Country'])

# merge
merged_df = pd.merge(integrar_levels, countryCodes, on='Country', how='left')

# quitar las columnas con missing values que por defecto dejo el diccionario country_mapping
merged_df = merged_df.dropna(subset=['Officialstatename'])

merged_df

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: thefuzz in c:\users\alexi\appdata\roaming\python\python311\site-packages (0.22.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.0.0 in c:\users\alexi\appdata\roaming\python\python311\site-packages (from thefuzz) (3.10.0)

,HDI_Rank_2021,Country,HDI_2021,LEB_2021,EYS_2021,MYS_2021,GNI_2021,GNI-HDIRank,Officialstatename,InternetccTLD,iso2,iso3
0,1.0,SWITZERLAND,0.962,83.9872,16.500299,13.85966,66933.00454,5.0,The Swiss Confederation,.ch,CH,CHE
1,2.0,NORWAY,0.961,83.2339,18.1852,13.00363,64660.10622,6.0,The Kingdom of Norway,.no,NO,NOR
2,3.0,ICELAND,0.959,82.6782,19.163059,13.76717,55782.04981,11.0,Iceland,.is,IS,ISL
3,4.0,CHINA,0.952,85.4734,17.27817,12.22621,62606.8454,6.0,The People's Republic of China,.cn,CN,CHN
4,5.0,AUSTRALIA,0.951,84.5265,21.05459,12.72682,49238.43335,18.0,The Commonwealth of Australia,.au,AU,AUS
...,...,...,...,...,...,...,...,...,...,...,...,...
186,187.0,BURUNDI,0.426,61.6627,10.722722,3.129267,731.786709,4.0,The Republic of Burundi,.bi,BI,BDI
187,188.0,CENTRAL AFRICAN REPUBLIC,0.404,53.8947,8.040172,4.334,966.058611,1.0,The Central African Republic,.cf,CF,CAF
188,189.0,NIGER,0.4,61.5763,6.957112,2.116717,1239.866936,-3.0,The Republic of the Niger,.ne,NE,NER
189,190.0,CHAD,0.394,52.5254,8.035914,2.573774,1364.169417,-7.0,The Republic of Chad,.td,TD,TCD
190,191.0,SOUTH SUDAN,0.385,54.9752,5.54251,5.72614,767.787,-1.0,The Republic of South Sudan,.ss,SS,SSD

In [45]:
# 3. Para hacer reporte mensual con fallecidos
fallecidos_covid = pd.read_csv('fallecidosCOVID.csv', delimiter=';')

# como necesito separar la fecha, usando formateo de fechas
fallecidos_covid['FECHA_FALLECIMIENTO'] = pd.to_datetime(fallecidos_covid['FECHA_FALLECIMIENTO'], format='%Y%m%d') 

fallecidos_covid['Año'] = fallecidos_covid['FECHA_FALLECIMIENTO'].dt.year
fallecidos_covid['Mes'] = fallecidos_covid['FECHA_FALLECIMIENTO'].dt.month
fallecidos_covid['Día'] = fallecidos_covid['FECHA_FALLECIMIENTO'].dt.day

# añadir columna con nombres de meses
fallecidos_covid['Nombre_Mes'] = fallecidos_covid['Mes'].apply(lambda x: {
    1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio',
    7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}[x])

fallecidos_covid

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID,Año,Mes,Día,Nombre_Mes
0,20240317,2022-02-19,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203506.0,2022,2,19,Febrero
1,20240317,2021-05-29,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101.0,203532.0,2021,5,29,Mayo
2,20240317,2021-06-23,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203584.0,2021,6,23,Junio
3,20240317,2021-08-24,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101.0,212541.0,2021,8,24,Agosto
4,20240317,2021-06-27,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102.0,203665.0,2021,6,27,Junio
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220913,20240317,2020-08-09,77,MASCULINO,Criterio radiológico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,40102.0,NaN,2020,8,9,Agosto
220914,20240317,2020-10-28,81,MASCULINO,Criterio clínico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101.0,NaN,2020,10,28,Octubre
220915,20240317,2020-05-15,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114.0,NaN,2020,5,15,Mayo
220916,20240317,2021-04-14,66,FEMENINO,Criterio clínico,LIMA,LIMA,LOS OLIVOS,150117.0,NaN,2021,4,14,Abril
220917,20240317,2020-08-19,61,MASCULINO,Criterio nexo epidemiológico,PIURA,PIURA,TAMBO GRANDE,200114.0,NaN,2020,8,19,Agosto

In [48]:
# para crear el reporte mensual con reshaping - tablas pivot
reporte_3 = fallecidos_covid.pivot_table(
    index=['Mes', 'Nombre_Mes', 'Año'],  # indice por año y mes
    aggfunc='size',           # contar los fallecidos
    fill_value=0              # rellenar con 0 si hay datos faltantes
).reset_index(name='cant_fallecidos')

# para que muestre los datos de manera ordenada de meses y años
reporte_3 = reporte_3.sort_values(by=['Año', 'Mes'], ascending=True)

# resetear el index
reporte_3 = reporte_3.reset_index(drop=True)

reporte_3

    Mes  Nombre_Mes   Año  cant_fallecidos
0     3       Marzo  2020              181
1     4       Abril  2020             5134
2     5        Mayo  2020            16363
3     6       Junio  2020            17462
4     7       Julio  2020            18501
5     8      Agosto  2020            17668
6     9  Septiembre  2020             8437
7    10     Octubre  2020             4471
8    11   Noviembre  2020             3229
9    12   Diciembre  2020             3885
10    1       Enero  2021            11175
11    2     Febrero  2021            18645
12    3       Marzo  2021            20691
13    4       Abril  2021            23110
14    5        Mayo  2021            16692
15    6       Junio  2021             7722
16    7       Julio  2021             3481
17    8      Agosto  2021             1850
18    9  Septiembre  2021             1140
19   10     Octubre  2021             1066
20   11   Noviembre  2021             1107
21   12   Diciembre  2021             1283
22    1       Enero  2022             3562
23    2     Febrero  2022             3503
24    3       Marzo  2022             1299
25    4       Abril  2022              741
26    5        Mayo  2022              625
27    6       Junio  2022              542
28    7       Julio  2022             1025
29    8      Agosto  2022             1429
30    9  Septiembre  2022              892
31   10     Octubre  2022              429
32   11   Noviembre  2022              272
33   12   Diciembre  2022              423
34    1       Enero  2023              371
35    2     Febrero  2023              287
36    3       Marzo  2023              295
37    4       Abril  2023              337
38    5        Mayo  2023              323
39    6       Junio  2023              291
40    7       Julio  2023              258
41    8      Agosto  2023              249
42    9  Septiembre  2023               60
43   10     Octubre  2023               26
44   11   Noviembre  2023               33
45   12   Diciembre  2023               40
46    1       Enero  2024              249
47    2     Febrero  2024               62
48    3       Marzo  2024                2

In [65]:
# 4.  Reporte de fallecidos por mes, pero el tipo de muerte debe estar en columnas separadas

# Re-shaping - tabla pivot
reporte_4 = fallecidos_covid.pivot_table(
    index=['Mes', 'Nombre_Mes', 'Año'],              # Índice por Año y Mes
    columns='CLASIFICACION_DEF',          # Columnas por tipo de muerte
    aggfunc='size',                       # Contar los fallecidos
    fill_value=0                          # Rellenar con 0 si no hay datos
).reset_index()

# para que muestre los datos de manera ordenada de meses y años
reporte_4 = reporte_4.sort_values(by=['Año', 'Mes'], ascending=True)
reporte_4 = reporte_4.reset_index(drop=True)

reporte_4.columns.name = None

# cambiar nombres
reporte_4 = reporte_4.rename(columns={'Criterio SINADEF': 'C_SINADEF',
                                    'Criterio clínico': 'C_Clinico',
                                    'Criterio investigación Epidemiológica': 'C_IEpidemiologica',
                                    'Criterio nexo epidemiológico' : 'C_NEpidemiologico',
                                    'Criterio radiológico': 'C_Radiologico',
                                    'Criterio serológico': 'C_Serologico',
                                    'Criterio virológico' : 'C_Virologico',
                                     'sinadef': 'Sinadef'})


reporte_4

,Mes,Nombre_Mes,Año,C_SINADEF,C_Clinico,C_IEpidemiologica,C_NEpidemiologico,C_Radiologico,C_Serologico,C_Virologico,NotiCovid,Sinadef
0,3,Marzo,2020,35,52,25,2,7,2,58,0,0
1,4,Abril,2020,1793,541,498,68,182,778,1274,0,0
2,5,Mayo,2020,6826,1152,1427,203,480,3233,3042,0,0
3,6,Junio,2020,5722,670,1706,251,391,5605,3117,0,0
4,7,Julio,2020,5012,609,1512,262,415,7501,3190,0,0
5,8,Agosto,2020,4589,611,1456,208,534,7400,2870,0,0
6,9,Septiembre,2020,1984,475,755,105,233,3483,1402,0,0
7,10,Octubre,2020,1091,463,469,50,172,1417,809,0,0
8,11,Noviembre,2020,704,462,307,37,186,867,666,0,0
9,12,Diciembre,2020,802,547,171,41,179,1047,1098,0,0
10,1,Enero,2021,2190,514,323,107,434,2448,5159,0,0
11,2,Febrero,2021,4993,501,465,150,556,2539,9441,0,0
12,3,Marzo,2021,6100,525,517,229,456,1703,11161,0,0
13,4,Abril,2021,7450,748,591,246,363,1488,12224,0,0
14,5,Mayo,2021,5225,628,349,155,283,1175,8877,0,0
15,6,Junio,2021,2723,116,123,51,138,746,3825,0,0
16,7,Julio,2021,1025,113,67,35,68,521,1652,0,0
17,8,Agosto,2021,578,75,22,15,36,287,837,0,0
18,9,Septiembre,2021,554,12,0,0,0,190,384,0,0
19,10,Octubre,2021,469,12,0,0,0,148,437,0,0
20,11,Noviembre,2021,441,16,0,0,0,157,493,0,0
21,12,Diciembre,2021,585,8,0,0,0,133,557,0,0
22,1,Enero,2022,1894,22,0,0,0,41,1605,0,0
23,2,Febrero,2022,1604,20,0,0,0,1,1878,0,0
24,3,Marzo,2022,352,6,0,0,0,0,941,0,0
25,4,Abril,2022,131,9,0,0,0,0,601,0,0
26,5,Mayo,2022,85,3,0,0,0,0,537,0,0
27,6,Junio,2022,81,3,0,0,0,0,458,0,0
28,7,Julio,2022,299,3,0,0,0,0,723,0,0
29,8,Agosto,2022,405,6,0,0,0,0,1018,0,0
30,9,Septiembre,2022,154,12,0,0,0,0,726,0,0
31,10,Octubre,2022,53,59,0,0,0,0,317,0,0
32,11,Noviembre,2022,23,0,0,0,0,0,249,0,0
33,12,Diciembre,2022,66,0,0,0,0,0,357,0,0
34,1,Enero,2023,34,1,0,0,0,0,336,0,0
35,2,Febrero,2023,4,0,0,0,0,0,283,0,0
36,3,Marzo,2023,6,0,0,0,0,0,289,0,0
37,4,Abril,2023,17,0,0,0,0,0,320,0,0
38,5,Mayo,2023,6,0,0,0,0,0,317,0,0
39,6,Junio,2023,2,0,0,0,0,0,289,0,0
40,7,Julio,2023,3,0,0,0,0,0,255,0,0
41,8,Agosto,2023,7,0,0,0,0,0,242,0,0
42,9,Septiembre,2023,7,0,0,0,0,0,53,0,0
43,10,Octubre,2023,8,0,0,0,0,0,18,0,0
44,11,Noviembre,2023,13,0,0,0,0,0,20,0,0
45,12,Diciembre,2023,17,0,0,0,0,0,22,1,0
46,1,Enero,2024,35,0,0,0,0,0,83,115,16
47,2,Febrero,2024,1,0,0,0,0,0,45,16,0
48,3,Marzo,2024,0,0,0,0,0,0,2,0,0